.covid19-container {
    font-family: "Trebuchet MS";
}
.hr {
    height: 1px;
    border-bottom: 1px solid black;
}
.covid19-container .intro {
    font-size: 18px;
}

.covid19-container .online-mb {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.covid19-mb-container .intro {
    display: flex;
}
.covid19-mb-container .intro .header{
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

.covid19-mb-container {
    display: block;
}

.covid19-mb-container .mb-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

.covid19-mb-container .lastUpdated{
    margin: 5px;
    font-size: 10px;
}

.covid19-mb-container .mb-list .covid-19-mb-name{
    margin: 0 5px 0 5px;
}

.covid19-mb-container .mb-list .covid-19-mb-name:after{
    content: ', ';
    position: relative;
    right: 5px;
}
.covid19-mb-container .mb-list .covid-19-mb-name:last-child:after{
    content: '';
}
