.covid19-container {
    font-family: "Trebuchet MS";
    color: #003965;
}
.hr {
    height: 1px;
    border-bottom: 1px solid black;
}
.covid19-container .intro {
    font-size: 18px;
}

.covid19-container .online-mb {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.covid19-mb-container .intro {
    display: flex;
}
.covid19-mb-container .intro .header{
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

.covid19-mb-container {
    display: block;
}

.covid19-mb-container .mb-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

.covid19-mb-container .lastUpdated{
    margin: 5px;
    font-size: 10px;
}

.covid19-mb-container .mb-list .covid-19-mb-name{
    margin: 0 5px 0 5px;
}

.covid19-mb-container .mb-list .covid-19-mb-name:after{
    content: ', ';
    position: relative;
    right: 5px;
}
.covid19-mb-container .mb-list .covid-19-mb-name:last-child:after{
    content: '';
}

.c19-vmb-container {
    display: flex;
    width: 200px;
}
.virtual-mb {
    padding-top: 20px;
}
.virtual-mb * {
    display: flex;
}

.virtual-mb .header {
    width: 100%;
    padding-bottom: 20px;
    flex-direction: column;
}
.virtual-mb .header .title{
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    font-weight: bolder;
}
.virtual-mb .header .description {
}
.virtual-mb .virtual-badges {
    flex-direction: row;
}
.c19-vmb-container * {
    display: flex;
}
.c19-vmb-container a {
    width: 100%;
    color: #003965;
    text-decoration: none;
}
.c19-vmb-container .c19-vmb-box {
    width: 100%;
    border: 1px solid;
    flex-direction: column;
    box-shadow: 2px 2px 2px dimgray ;
    align-items: center;
    margin-right: 20px;
}

.c19-vmb-container .c19-vmb-box name {
    font-size: larger;
}

.c19-vmb-container .c19-vmb-box img {
    width: 75px;
    height: 75px;
}
.c19-vmb-container .c19-vmb-box .c19-vmb-dates {
    flex-direction: column;
    font-size: small;
    align-self: baseline;
    padding-left: 15px;
}
.c19-vmb-container .c19-vmb-box .c19-vmb-dates .label {
}
.c19-vmb-container .c19-vmb-box .c19-vmb-dates .dates {
    flex-direction: column;
}